@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Yanone+Kaffeesatz:wght@400;700&display=swap");

html
{
  min-height: 100vh;
}

body
{
  background-color: #C8E2ED;
  display: inline-block;
  font-family: "Roboto", sans-serif;

  min-height: 100vh;
}

/* headers */

h1, h2, h3, h4, h5, h6
{
  font-family: "Yanone Kaffeesatz", sans-serif;
}

h1
{
  font-size: 4em;
  margin-top: 0.1675em;
  margin-bottom: 0.1675em;
}

.subtitle
{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.75em;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* links */
a
{
  text-decoration: none;
  color: dodgerblue;
}

a:hover
{
  color: #e16f00; /* opposite of dodgerblue */
}

/* navigation */

nav
{
  background-color: darkgrey;
  border-right: 5px solid white;

  position: fixed;
  display: block;
  width: 10%;
  height: auto;
  padding: 5px;
  overflow: hidden;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

nav *
{
  max-width: 100%;
  height: auto;
}

.navheader
{
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3em;
  text-align: center;

  /*margin-left: auto;
  margin-right: auto;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

#logo
{
  border-radius: 500px;
}

.copyright
{
  position: fixed;
  bottom: 0;

  max-width: 10%;
}

.copyright a
{
  color: white;
}

/* image showcase */
.imageshowcase
{
  border: 3px solid black;
  display: inline-block;

  max-width: 75%;
  height: auto;
}

.imageshowcase img
{
  max-width: 49%;
  height: auto;
}

/* main content */
main
{
  display: inline;

  position: absolute;
  left: 12%;
  width: auto;
  height: 100%;
}

/* miscellaneous */
code
{
  font-family: "Roboto Mono", monospace;
}

.code
{
  font-family: "Roboto Mono", monospace;
}
